$primary-color: #119DA4;
$primary-dark: #07787e;
$secondary-color: #1A2C42;
$secondary-dark: #05090e;
$light-gray: #F2F0EE;
$gray: #EAE7E4;
$text: #1B1B1B;
$white: #fff;
$footer-bg: #000;
$text: #000;
$border-radius: 3px;